@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Lato:wght@400;700&family=Roboto&display=swap");

body {
  padding: 0 20px 30px;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  /* font-family: "Lato", sans-serif; */
  /* font-family: "Roboto", sans-serif; */
  --title: #d04f4f;
  --main-blue: #3282f7;
  --main-red: #ed6454;
  --main-green: #68d9a4;
  --white: #fff;
  --bg-light-gray-1: #e7e7e7;
  --bg-light-gray-2: #c7bebe;
}

.mt-2 {
  margin-top: 20px;
}

h1 {
  color: var(--title);
  line-height: 47px;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  margin-top: 0;
}

.main-header {
  text-align: center;
}

.d-none {
  display: none;
}

/* //////////////////////////////////
///////// Search Section ////////////
////////////////////////////////// */

#main-search {
  width: 100%;
  height: 40px;
  background-color: var(--bg-light-gray-1);
  padding: 0 30px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}

.filters-group {
  display: flex;
}

.filters {
  width: 120px;
  margin-right: 10px;
  height: 40px;
  line-height: 40px;
  color: var(--white);
  border-radius: 5px;
  text-align: left;
  padding: 0 8px;
  position: relative;
  border: none;
}

.advanced-filters-container {
  border-radius: 5px;
  min-width: 120px;
  color: var(--white);
  margin-right: 10px;
}

#ingredients,
#appliances,
#ustensils {
  width: calc(100% - 16px);
  height: 40px;
  line-height: 40px;
  color: var(--white);
  border-radius: 5px;
  text-align: left;
  position: relative;
  border: none;
  z-index: 10;
}

#ingredients,
.afc-ingredients {
  background: var(--main-blue);
}

#appliances,
.afc-appliances {
  background: var(--main-green);
}

#ustensils,
.afc-ustensils {
  background: var(--main-red);
}

#ingredients::placeholder,
#appliances::placeholder,
#ustensils::placeholder {
  color: var(--white);
}

/* 
.ingredients-items-container,
.appliances-items-container,
.ustensils-items-container {
  display: none;
} */

#ingredients:focus,
#appliances:focus,
#ustensils:focus {
  outline: none;
}

#ingredients:focus + .ingredients-items-container,
#appliances:focus + .appliances-items-container,
#ustensils:focus + .ustensils-items-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.search-section {
  position: relative;
}

.filters-group {
  position: absolute;
  top: 60px;
  left: 0;
}

/* //////////////////////////////////
///// Recipes List Section ///////
////////////////////////////////// */

.recipes-list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 90px;
}

.recipe-card {
  width: 380px;
  height: 364px;
  border-radius: 5px;
  background-color: var(--bg-light-gray-1);
}

.card-img {
  width: 380px;
  height: 178px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: var(--bg-light-gray-2);
}

.card-text-body {
  padding: 5px 12px;
}

.card-body-text-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-size: 18px;
}

.card-bottom {
  display: flex;
}

.ingredients,
.description {
  width: 50%;
  height: calc(364px - 178px - 77px);
}

.ingredients {
  font-family: "Lato", sans-serif;
}

.ingredients p {
  margin: 0;
  font-size: 12px;
}

.ingredients p span {
  font-weight: 700;
}

.description {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  overflow: hidden;
}

.hide {
  display: none;
}
