@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Lato:wght@400;700&family=Roboto&display=swap");

body {
  padding: 0 20px 30px;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  /* font-family: "Lato", sans-serif; */
  /* font-family: "Roboto", sans-serif; */
  --title: #d04f4f;
  --main-blue: #3282f7;
  --main-red: #ed6454;
  --main-green: #68d9a4;
  --white: #fff;
  --bg-light-gray-1: #e7e7e7;
  --bg-light-gray-2: #c7bebe;
  --main-border-radius: 5px;
}

.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 30px;
}

h1 {
  color: var(--title);
  line-height: 47px;
  font-size: 36px;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  margin-top: 0;
}

.main-header {
  text-align: center;
}

.d-none {
  display: none;
}

/* //////////////////////////////////
////////////// Modale ///////////////
////////////////////////////////// */

.modale {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modale-msg {
  width: 30vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}

.modale-msg h3 {
  width: 25vw;
}

.ok-button {
  width: 5vw;
  height: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

.ok-button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/* //////////////////////////////////
///////// Search Section ////////////
////////////////////////////////// */

#main-search {
  width: 100%;
  height: 40px;
  background-color: var(--bg-light-gray-1);
  padding: 0 30px;
  border: none;
  border-radius: var(--main-border-radius);
  box-sizing: border-box;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  border: none;
  border-radius: var(--main-border-radius);
  display: inline-block;
  padding: 5px 20px;
  margin: 20px 10px 0 0;
}

.ingredient-tag {
  background-color: var(--main-blue);
}

.appliance-tag {
  background-color: var(--main-green);
}

.ustensil-tag {
  background-color: var(--main-red);
}

.tag-wrapper {
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tag-name {
  color: var(--white);
  margin: 0 5px;
}
.tag-close {
  width: 15px;
  height: 15px;
  padding-bottom: 2px;
  margin: 0 5px;
  border-radius: 50%;
  color: var(--white);
  border: solid 2px var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.filters-group {
  display: flex;
}

.filters {
  width: calc(100% - 16px);
  margin-right: 10px;
  height: 40px;
  line-height: 40px;
  color: var(--white);
  border-radius: var(--main-border-radius);
  text-align: left;
  padding: 0 8px;
  border: none;
}

.advanced-filters-container {
  border-radius: var(--main-border-radius);
  min-width: 120px;
  color: var(--white);
  margin-right: 10px;
}

#ingredients,
.afc-ingredients {
  background: var(--main-blue);
  max-height: 40px;
}

#appliances,
.afc-appliances {
  background: var(--main-green);
  max-height: 40px;
}

#ustensils,
.afc-ustensils {
  background: var(--main-red);
  max-height: 40px;
}

#ingredients::placeholder,
#appliances::placeholder,
#ustensils::placeholder {
  color: var(--white);
}

#ingredients:focus,
#appliances:focus,
#ustensils:focus {
  outline: none;
}

.afc-ingredients:focus-within,
.afc-appliances:focus-within,
.afc-ustensils:focus-within {
  outline: none;
  max-height: 300px;
}

#ingredients:focus + .ingredients-items-container,
#appliances:focus + .appliances-items-container,
#ustensils:focus + .ustensils-items-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-height: 260px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}

#ingredients:focus + .ingredients-items-container::-webkit-scrollbar,
#appliances:focus + .appliances-items-container::-webkit-scrollbar,
#ustensils:focus + .ustensils-items-container::-webkit-scrollbar {
  width: 8px;
  border-radius: var(--main-border-radius);
}

#ingredients:focus + .ingredients-items-container::-webkit-scrollbar-thumb,
#appliances:focus + .appliances-items-container::-webkit-scrollbar-thumb,
#ustensils:focus + .ustensils-items-container::-webkit-scrollbar-thumb {
  background: var(--bg-light-gray-1);
  border-radius: var(--main-border-radius);
}

#ingredients:focus + .ingredients-items-container::-webkit-scrollbar-track {
  background: var(--main-blue);
  border-radius: var(--main-border-radius);
}

#appliances:focus + .appliances-items-container::-webkit-scrollbar-track {
  background: var(--main-green);
  border-radius: var(--main-border-radius);
}

#ustensils:focus + .ustensils-items-container::-webkit-scrollbar-track {
  background: var(--main-red);
  border-radius: var(--main-border-radius);
}

.ingredients-items-container span,
.appliances-items-container span,
.ustensils-items-container span {
  margin: 5px;
  cursor: pointer;
}

.ingredients-items-container span:hover,
.appliances-items-container span:hover,
.ustensils-items-container span:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.filters-group-relative {
  position: relative;
  height: 40px;
}

.filters-group {
  position: absolute;
  top: 0;
  left: 0;
}

/* //////////////////////////////////
///// Recipes List Section ///////
////////////////////////////////// */

.recipes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.recipe-card {
  width: 380px;
  height: 364px;
  border-radius: var(--main-border-radius);
  background-color: var(--bg-light-gray-1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.recipe-card:hover {
  /* -webkit-box-shadow: 4px 5px 13px 3px rgba(0, 0, 0, 0.27); */
  box-shadow: 4px 5px 13px 3px rgba(0, 0, 0, 0.27);
  transform: scale(1.01);
}

.card-img,
.card-img img {
  width: 380px;
  height: 178px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-img {
  background-color: var(--bg-light-gray-2);
}

.card-img img {
  object-fit: cover;
}

.card-text-body {
  padding: 5px 12px;
  /* overflow-y: scroll; */
}

/* .card-text-body::-webkit-scrollbar {
  width: 8px;
} */

/* .card-text-body::-webkit-scrollbar,
.card-text-body::-webkit-scrollbar-thumb,
.card-text-body::-webkit-scrollbar-track {
  background: var(--bg-light-gray-2);
  border-radius: var(--main-border-radius);
} */

.card-body-text-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Lato", sans-serif;
  font-size: 18px;
}

.card-bottom {
  display: flex;
  max-height: 80px;
  overflow-y: scroll;
}

.card-bottom::-webkit-scrollbar {
  width: 0px;
}

.card-bottom::-webkit-scrollbar,
.card-bottom::-webkit-scrollbar-thumb,
.card-bottom::-webkit-scrollbar-track {
  background: var(--bg-light-gray-2);
  border-radius: var(--main-border-radius);
}

.ingredients,
.description {
  width: 50%;
  height: calc(364px - 178px - 77px);
}

.ingredients {
  font-family: "Lato", sans-serif;
}

.ingredients p {
  margin: 0;
  font-size: 12px;
}

.ingredients p span {
  font-weight: 700;
}

.description {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hide {
  display: none;
}
